@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* shiki 暗色主题的样式，使用过 js 加到元素的内联样式中的，这里是直接获取，实际运行并不会有问题 */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.common-box-warp {
  @apply bg-thr-bgc-light dark:bg-thr-bgc-dark p-5 shadow-md rounded-lg;
}

.content-warp {
  @apply min-h-40 p-4 mb-10 bg-thr-bgc-light dark:bg-thr-bgc-dark shadow rounded-lg;
}

.col-center-text {
  @apply flex flex-col items-center text-text-light dark:text-text-dark;
}

.widget-author-avatar {
  @apply absolute left-1/2 top-0 transform -translate-x-1/2 -translate-y-1/2;
}

.copy-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 40px;
  min-height: 40px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.4s;
}

.copy-button.animate-scale {
  animation: scale 0.5s ease-in-out 0.1s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  .content-warp > .markdown-body {
    padding: 20px !important;
  }
}

@media (prefers-color-scheme: dark) {
  .content-warp > .markdown-body {
    padding: 20px !important;
  }
}

.vt-switch-appearance-sun {
  fill: rgba(60, 60, 60, .7);
}
.vt-switch-appearance-moon {
  fill: rgba(255, 255, 255, .87);;
}

.content-warp > .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px !important;
  }
}

.markdown-body div[class^="language-"] {
  position: relative;
  overflow-x: auto;
}

.markdown-body div[class^="language-"] > span.lang {
  @apply absolute top-1 right-2 text-gray-500 opacity-75 text-xs font-medium transition-colors duration-300;
}

.dark .markdown-body div[class^="language-"] > span.lang {
  @apply text-gray-400;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}
